
<body>
<main >
  <div class="row">
    <div class="col">
      <img
        src="./assets/Image-Logon.jpg"
        class="apresent"
        alt="apresentation"
        width="100%"
        height="100%"
      />
    </div>

    <div class="col ">
      <div class="d-flex justify-content-center">
        <img
          src="./assets/logo.png"
          class="text-center"
          alt="logo"
          width="309px"
          height="309px"
        />
      </div>

      <p class="text-center bold">Seja bem vindo</p>

      <form class="form-group "[formGroup]="formUsuario" (ngSubmit)="onSubmit()">
        <div class="input-group col-md-6 offset-md-3 d-flex justify-content-center bold" style="width: 400px">
          <span class="input-group-text border-right-0" id="basic-addon1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="gray"
              class="bi bi-envelope"
              viewBox="0 0 16 16"
              border="0"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
              />
            </svg>
          </span>
          <input
           type="email"
            class="form-control border-start-0 "
            formControlName="email"
            placeholder="Email"
             name="email"
             />
          
   
          

         
        </div>
       
        
        <div class="input-group col-md-6 offset-md-3 d-flex justify-content-center bold" style="width: 400px">
          <span class="input-group-text" id="basic-addon1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-lock"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"
              />
            </svg>
          </span>
          <input
          
            type="password"
            class="form-control border-start-0"
            placeholder="Senha"
            
            name="password"
           formControlName="password"


          />
        </div>
       

        <div class="input-group col-md-6 offset-md-3 d-flex justify-content-center bold" style="width: 400px">
          <button
            type="submit"
            class="btn colorButton  "
            style="margin-top: 15px; width: 400px"
          >
            Entrar
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
</body>




<!-- <body>
<main >
  <div class="row">
    <div class="col">
      <img
        src="./assets/Image-Logon.jpg"
        class="apresent"
        alt="apresentation"
        width="100%"
        height="100%"
      />
    </div>

    <div class="col">
      <div class="d-flex justify-content-center">
        <img
          src="./assets/logo.png"
          class="text-center"
          alt="logo"
          width="309px"
          height="309px"
        />
      </div>

      <p class="text-center bold">Seja bem vindo</p>

      <form class="form-group ">
        <div class="input-group offset-md-2  bold" style="width: 400px">
          <span class="input-group-text border-right-0" id="basic-addon1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="gray"
              class="bi bi-envelope"
              viewBox="0 0 16 16"
              border="0"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
              />
            </svg>
          </span>
          <input
            type="text"
            class="form-control border-start-0 "
            placeholder="Email"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group offset-md-2 d-flex justify-content-center bold" style="width: 400px">
          <span class="input-group-text" id="basic-addon1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-lock"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"
              />
            </svg>
          </span>
          <input
            type="text"
            class="form-control border-start-0"
            placeholder="Email"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group col-md-6 offset-md-3 d-flex justify-content-center bold" style="width: 400px">
          <button
            type="button"
            class="btn btn-success bg-success col-md-6 offset-md-3 d-flex justify-content-center"
            style="margin-top: 20px"
          >
            Entrar
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
</body> -->
