<app-side-bar></app-side-bar>

<div class="tituloPosit">
  <h1>Unidades</h1>
</div>
<div class="PositPanel">
  <div class="row">
    <div class="input-group mb-5 p-0">
      <input
        [(ngModel)]="FiltroLista"
        type="text"
        class="form-control shadow-lg p-2 mb-1 bg-body rounded"
        style="max-width: 50%; margin-left: 10%; margin-top: 2rem"
        placeholder="Pesquisar"
      />
      <button
        routerLink="/AddUnit"
        type="button"
        style="width: 150px; margin-left: 1%; height: 40px; margin-top: 2rem"
        class="btn btn-info shadow-lg p-1 bg-body rounded"
      >
        Nova Unidade
      </button>
    </div>
  </div>

  <div class="container">
    <div>
      <table class="table shadow-lg p-1 bg-body rounded-3 tbposit">
        <thead class="tcabecalho">
          <tr class="tcabecalho">
            <th>#</th>
            <th>Unidade</th>
            <th>Localidade</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ativo</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="p-1 ms-4 me-5"
            *ngFor="
              let unidade of unidadesFiltradas
                | paginate: { itemsPerPage: contador, currentPage: pag }
            "
          >
            <td>{{ unidade.id }}</td>
            <td>{{ unidade.Apelido }}</td>
            <td>{{ unidade.Local }}</td>
            <td>{{ unidade.Marca }}</td>
            <td>{{ unidade.Modelo }}</td>
            <td>{{ unidade.Ativo }}</td>
            <td>
              <button
                type="button"
                class="btn btn-btn "
                (click)="editarUnidade(unidade.id)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </button>
            </td>
            <td class="p-1" style="margin: 0px">
              <button
                type="button"
                class="btn btn-btn-remove "
                (click)="ExcluirUnidade(unidade.id)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
               
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <div class="text-right fixed-bottom d-flex justify-content-center">
      <pagination-controls
        (pageChange)="pag = $event"
        previousLabel="Anterior"
        nextLabel="Próximo"
      ></pagination-controls>
    </div>
  </div>
</div>
