<app-side-bar></app-side-bar>

<div class="tituloPosit">
<h1>Apontamento</h1>
</div>
<div class="container">
  <div class="card shadow p-2 mb-1 bg-body rounded" style="max-width: 70%; margin-left: 8%; margin-top: 3rem">

      <h3 class="tituloPosit" style="max-width: 50%; margin-left: 5% ">
        Lançamento de produção de energia mensal
      </h3>
      <form  [formGroup]="formProd" (ngSubmit)="onSubmit()">
        <div class="form-group ">
        <label  style="max-width: 15%; margin-left: 5%">Unidade Geradora</label>
        <select  class="form-control inputMenor"

        formControlName="Unidade"

         id="Unidade">
           <option value="0" selected>Selecionar</option>
          <option *ngFor="let uni of Unidades" value="{{uni.apelido}}">{{uni.apelido}}</option>

        </select>
      </div>

      <div class="form-group">
        <label style="max-width: 15%; margin-left: 5%"> Mês/ano </label>
        <input
         type="month"
          class="form-control inputMenor"
          formControlName="Data"
          name="Data"
          id="Data"
         [(ngModel)]="data"


        />
      </div>

      <div class="form-group">
        <label style="max-width: 50%; margin-left: 5%"> Total Kw gerado </label>
        <input
          type="number"
          class="form-control inputMenor"

          formControlName="TotalGerado"
          name="TotalGerado"
          id="TotalGerado"


        />
      </div>


      <div class="form-group">
        <button
          type="submit"
          class="btn btn-btn mt-3"
          style="max-width: 50%; margin-left: 5%; margin-top: 1rem"
          value="Salvar"

        >
         Cadastrar
        </button>
      </div>






      </form>
       <div class="col positImg">
         <img src="./assets/IconeCad.PNG" alt="Cadstrar" width="310px">

      </div>



  </div>
</div>
