<app-side-bar></app-side-bar>
<div class="container">
  <div class="row">
    
      <h3 style="max-width: 50%; margin-left: 5%">
        Lançamento de produção de energia mensal
      </h3>
      

      <div class="form-group">
        <label style="max-width: 15%; margin-left: 5%">Unidade Geradora</label>
        <select class="form-control inputMenor" id="exampleFormControlSelect1">
          <option>Unidade 1</option>
          <option>Unidade 2</option>
          <option>Unidade 3</option>
          <option>Unidade 4</option>
          <option>Unidade 5</option>
        </select>
      </div>

      <div class="form-group">
        <label style="max-width: 15%; margin-left: 5%"> Mês/ano </label>
        <input
          type="date"
          class="form-control inputMenor"
         
        />
      </div>

      <div class="form-group">
        <label style="max-width: 50%; margin-left: 5%"> Total Kw gerado </label>
        <input
          type="text"
          class="form-control inputMenor"
        
        />
      </div>


      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary mt-3"
          style="max-width: 50%; margin-left: 5%; margin-top: 1rem"
        >
         Cadastrar
        </button>
      </div>
    
  </div>
</div>
